@using System
@{
    var r = new Random();
    var name = "HotWired Updated";
    void RandomizeName()
    {
        var n = r.Next(0, 5000);
        if (n > 2500)
        {
            name = "Randomized!";
        }
    }
    @* Do some serverside stuff to show we're doing stuff on the server *@
    RandomizeName();
}
@* Remember this id is the same as the page that is trying to load this HTML Response *@
<turbo-frame id="updatable-fragment">
    <!-- In this case we'll be using a couple of web components defined with lit
         check wwwroot/components.js -->
    <div>
        <my-go-back-button href="/">Go Back</my-go-back-button>
    </div>
    <h1>I was updated!</h1>
    <my-counter name="@name"></my-counter>
</turbo-frame>