<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speedy SPA</title>
    @* Load Turbo globally *@
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/hyperscript.org"></script>

    @* Load Shoelace Web Component Library *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@shoelace-style/shoelace/dist/themes/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic@6.5.5/picnic.min.css"
        integrity="sha256-CBnbiPQogodXMdZxPaWpmf+JdiMIky+FP31RLT0L9h4=" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">

    <style>
        /* Hide web component stuff untill it loads */
        :not(:defined) {
            visibility: hidden;
        }
    </style>
    <script src="/imports.js" type="module" async></script>
    <script src="/htmx-specific.js" type="module"></script>
</head>

<body>
    <sl-progress-bar indeterminate id="global-progress" hidden></sl-progress-bar>

    @RenderSection("Header", required: false)
    <main>
        @RenderBody()
    </main>
    @RenderSection("Footer", required: false)

    @RenderSection("Scripts", required: false)
</body>

</html>