<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/cup-of-coffee-144-78475.png">
    <title>Speedy SPA</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/cup-of-coffee-152-78475.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/cup-of-coffee-152-78475.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/cup-of-coffee-144-78475.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/cup-of-coffee-120-78475.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/cup-of-coffee-114-78475.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/cup-of-coffee-72-78475.png">
    <link rel="apple-touch-icon-precomposed" href="/cup-of-coffee-57-78475.png">
    <link rel="icon" href="/cup-of-coffee-32-78475.png" sizes="32x32">


    @* Load Turbo globally *@
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/hyperscript.org"></script>

    @* Load Shoelace Web Component Library *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@shoelace-style/shoelace/dist/themes/base.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@@shoelace-style/shoelace/dist/shoelace.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic/picnic.min.css">
    <link rel="stylesheet" href="/index.css">

    <style>
        /* Hide web component stuff untill it loads */
        :not(:defined) {
            visibility: hidden;
        }
    </style>
    <script src="/imports.js" type="module" async></script>
    <script src="/htmx-specific.js" type="module"></script>
</head>

<body>
    <sl-progress-bar indeterminate id="global-progress" hidden></sl-progress-bar>

    @RenderSection("Header", required: false)
    <main>
        @RenderBody()
    </main>
    @RenderSection("Footer", required: false)

    @RenderSection("Scripts", required: false)
</body>

</html>